<header>
  <h1>Mi portafolio</h1>
</header>

<style>
  header {
    width: 100%;
    background: var(--primary-color);
    color: white;
    padding: 10px 30px;
  }
  h1 {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: large;
  }
</style>
