---
import IconLinkedin from "./icons/IconLinkedin.astro";
import IconBehance from "./icons/IconBehance.astro";
import IconInstagram from "./icons/IconInstagram.astro";
import IconMail from "./icons/IconMail.astro";
---

<ul>
  <li>
    <a href="" target="_blank" rel="referrer">
      <IconLinkedin />
    </a>
  </li>
  <li>
    <a href="" target="_blank" rel="referrer">
      <IconBehance />
    </a>
  </li>
  <li>
    <a href="" target="_blank" rel="referrer">
      <IconInstagram />
    </a>
  </li>
  <li>
    <a href="" target="_blank" rel="referrer">
      <IconMail />
    </a>
  </li>
</ul>

<style>
  ul {
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 2px;
    align-items: center;
  }
  ul li a {
    padding: 3px 5px;
    color: var(--text-color2);
  }
</style>
