---
import Layout from "../presentation/layouts/MainLayout.astro";
import PresentationSection from "../presentation/components/organism/PresentationSection.astro";
import WorkExperienceSection from "../presentation/components/organism/WorkExperienceSection.astro";
import ProjectsSection from "../presentation/components/organism/ProjectsSection.astro";
---

<Layout title="Adela Bustamante :: Mi portafolio">
  <main>
    <PresentationSection />
    <WorkExperienceSection />
    <ProjectsSection />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    margin: auto;
  }
</style>
