---
import IconUser from "../atoms/icons/IconUser.astro";
import IconInfo from "../atoms/icons/IconInfo.astro";
import SocialLinks from "../atoms/SocialLinks.astro";
---

<section>
  <img
    src="/img/adela-bustamante.jpeg"
    alt="Foto de Adela Bustamante Alarcón"
    id="primary-image"
  />
  <ul id="personal-data">
    <li>
      <label class="icon">
        <IconUser />
      </label>
      <div class="info">
        <label>¡Hola! soy</label>
        <p>Adela Bustamante Alarcón</p>
        <label>Conexiones humanas auténticas.</label>
      </div>
    </li>
    <li>
      <label class="icon"> <IconInfo /></label>
      <div class="info">
        <label>Info.</label>
        <p>Asistente de Marketing</p>
      </div>
    </li>
    <li>
      <label class="icon"> <IconInfo /></label>
      <div class="info">
        <label>Info.</label>
        <p>Asistente de Marketing</p>
      </div>
    </li>
    <li class="social-links">
      <SocialLinks />
    </li>
  </ul>
</section>

<style>
  section {
    padding: 30px 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: var(--max-width);
    margin: auto;
  }
  #primary-image {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: block;
    margin: 20px auto;
  }

  #personal-data {
    list-style: none;
    padding: 0px;
    width: 100%;
  }
  #personal-data li {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-bottom: 20px;
    color: var(--text-color1);
  }
  #personal-data li .icon {
    color: var(--text-color2);
  }

  .info label {
    color: var(--text-color3);
    font-size: small;
    display: block;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  p {
    margin: 0px;
    padding: 0px;
  }

  .social-links {
    border-top: 1px solid var(--border-color);
    padding-top: 25px;
  }
</style>
